[project]
name = "bbox_objected"
version = "0.2.7"
description = "Manipulate bounding boxes as objects"
authors = [
    { name = "SEBROVATER", email = "sebrovskiy.k@gmail.com" },
]
dependencies = []
requires-python = ">=3.10"
readme = "README.md"
license = {text = "LGPL-3.0-only"}

[project.urls]
home = "https://github.com/SEBROVATER/bbox_objected"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "-ra"
testpaths = [ "tests" ]

[tool.pdm]
distribution = true

[tool.pdm.build]
package-dir = "src"

[tool.pdm.dev-dependencies]
dev = [
    "numpy>=1.26.4",
    "opencv-python>=4.9.0.80",
    "ruff>=0.2.1",
    "pytest>=8.0.0",
    "pre-commit>=3.6.1",
    "pyright>=1.1.386",
]
